.git
.github
.cursor
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/dist
**/tsp-output
e2e
**/test-results
**/playwright-report
**/blob-report
**/.DS_Store
README.md
docs
CHANGELOG.md
version.txt
release-please-config.json
.release-please-manifest.json
